<!--/*@thymesVar id="activity" type="java"*/-->
<!--/*@thymesVar id="employee" type="java"*/-->
<!--/*@thymesVar id="team" type="java"*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{user/layout/main}">
<body>

<div layout:fragment="content">

    <div class="row" style="margin: 10px;">

        <div class=" box-size box-border-custom col-md-6">
            <h4 class="text-center">Add/Edit Activity</h4>

            <form class="col-md-12" onsubmit="return validate()" th:action="@{/activity/create}" th:object="${activity}" method="post">
                <input th:field="*{id}" type="hidden" class="form-control form-control-sm">

                <div class="form-group row">
                    <label for="branch" class="col-sm-12 col-form-label">Branch</label>
                    <div class="col-sm-12">
                        <input th:field="*{branch}" type="text" class="form-control" id="branch" required>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="employeeId" class="col-sm-12 col-form-label">Employee ID </label>
                    <div class="col-sm-12" >
                        <select class="form-control form-control-sm" th:field="*{employee.id}" id="employeeId">
                            <option value="-1">--Select--</option>
                            <option
                                    th:each="employee: ${employees}"
                                    th:value="${employee.id}"
                                    th:selected="${activity.employee.id == employee.id}"
                                    th:text="${employee.employeeId}" >
                            </option>
                        </select>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="productTypeId" class="col-sm-12 col-form-label">Product Type</label>
                    <div class="col-sm-12" >
                        <select class="form-control form-control-sm" th:field="*{productType.id}" id="productTypeId">
                            <option value="-1">--Select--</option>

                            <option
                                    th:each="productType: ${productTypes}"
                                    th:value="${productType.id}"
                                    th:text="${productType.type}" ></option>
                        </select>

                    </div>
                </div>

                <div class="form-group row">
                    <label for="activityDateId" class="col-sm-12 col-form-label">Activity Date</label>
                    <div class="col-sm-12">
                        <input th:field="*{activityDate}" type="text" class="form-control form-control-sm" id="activityDateId" >
                    </div>
                </div>

                <div class="form-group row">
                    <label for="noOfAchievementsId" class="col-sm-12 col-form-label">No Of Achievement</label>
                    <div class="col-sm-12">
                        <input th:field="*{noOfAchievements}" type="text" class="form-control form-control-sm" id="noOfAchievementsId" >
                    </div>
                </div>

                <div class="form-group row">
                    <label for="achievementAmount" class="col-sm-12 col-form-label">Achievement Amount</label>
                    <div class="col-sm-12">
                        <input th:field="*{achievementAmount}" type="text" class="form-control  form-control-sm" id="achievementAmount">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="referralId" class="col-sm-12 col-form-label">Referral ID</label>
                    <div class="col-sm-12">
                        <input th:field="*{referralId}" type="text" class="form-control  form-control-sm" id="referralId">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="totalAchievement" class="col-sm-12 col-form-label">Total Achievement</label>
                    <div class="col-sm-12">
                        <input th:field="*{totalAchievement}" type="text" class="form-control  form-control-sm" id="totalAchievement" readonly>
                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <div th:unless="${#request.getParameter('success') == null}">
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <span style="color: green"> Activity is saved successfully!! </span>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>

    <script th:inline="javascript">
        function validate() {

            return true;
        }



        $(document).ready(function () {
            $('#activityDateId').datepicker({
                dateFormat: "dd/mm/yy"

            });

        });

    </script>
</div>

</body>

</html>
