<!--/*@thymesVar id="activity" type="java"*/-->
<!--/*@thymesVar id="employee" type="java"*/-->
<!--/*@thymesVar id="team" type="java"*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{user/layout/main}">
<body>
@Column(name = "branch")
private String branch;

@Column(name = "no_of_achievements")
private Integer noOfAchievement;

@Column(name = "achievement_amount")
private Double achievementAmount;

@Column(name = "referral_id")
private String referralId;

@ManyToOne(fetch = FetchType.EAGER)
@JoinColumn(name = "employee_id", referencedColumnName = "id", nullable = true)
private Employee employee;


@ManyToOne(fetch = FetchType.EAGER)
@JoinColumn(name = "activity_type_id", referencedColumnName = "id", nullable = true)
private ActivityType activityType;


@ManyToOne(fetch = FetchType.EAGER)
@JoinColumn(name = "loan_type_id", referencedColumnName = "id", nullable = true)
private LoanType loanType;

@ManyToOne(fetch = FetchType.EAGER)
@JoinColumn(name = "sales_type_id", referencedColumnName = "id", nullable = true)
private SalesType salesType;
<div layout:fragment="content">

    <div class="row" style="margin: 10px;">

        <div class=" box-size box-border-custom col-md-6">
            <h4 class="text-center">Add/Edit Activity</h4>

            <form class="col-md-12" onsubmit="return validate()" th:action="@{/activity/create}" th:object="${activity}" method="post">
                <input th:field="*{id}" type="hidden" class="form-control">
                <div class="form-group row">
                    <label for="branch" class="col-sm-12 col-form-label">First Name</label>
                    <div class="col-sm-12">
                        <input th:field="*{branch}" type="text" class="form-control" id="branch" value="Motijhil Branch" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="employeeId" class="col-sm-12 col-form-label">Employee ID</label>
                    <div class="col-sm-12" >
                        <select class="form-control" th:field="*{employee.id}" id="employeeId">
                            <option value="-1">--Select--</option>
                            <option
                                    th:each="employee: ${employees}"
                                    th:value="${employee.id}"
                                    th:text="${employee.employee_id}" ></option>
                        </select>

                    </div>
                </div>

                <div class="form-group row">
                    <label for="noOfAchievementId" class="col-sm-12 col-form-label">No Of Achievement</label>
                    <div class="col-sm-12">
                        <input th:field="*{noOfAchievement}" type="text" class="form-control" id="noOfAchievementId" >
                    </div>
                </div>

                <div class="form-group row">
                    <label for="achievementAmount" class="col-sm-12 col-form-label">Achievement Amount</label>
                    <div class="col-sm-12">
                        <input th:field="*{achievementAmount}" type="text" class="form-control" id="achievementAmount">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="totalAchievementAmount" class="col-sm-12 col-form-label">Total Achievement</label>
                    <div class="col-sm-12">
                        <input th:field="*{totalAchievementAmount}" type="text" class="form-control" id="totalAchievementAmount">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="employeeId" class="col-sm-12 col-form-label">Employee ID</label>
                    <div class="col-sm-12">
                        <input type="text" th:field="*{employeeId}" class="form-control" id="employeeId" required>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="designation" class="col-sm-12 col-form-label">Designation</label>
                    <div class="col-sm-12">
                        <input type="text" th:field="*{designation}" class="form-control" id="designation" required>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="teamId" class="col-sm-12 col-form-label">Team</label>
                    <div class="col-sm-12" >
                        <select class="form-control" th:field="*{team.id}" id="teamId">
                            <option value="-1">--Select--</option>

                            <option
                                    th:each="team: ${teams}"
                                    th:value="${team.id}"
                                    th:text="${team.teamName}" ></option>
                        </select>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <div th:unless="${#request.getParameter('success') == null}">
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <span style="color: green"> Employee is saved successfully!! </span>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

</body>
</html>

<script>
    function validate() {

        return true;
    }

</script>